[submodule "InfiniLink"]
	path = InfiniLink
	url = git@github.com:Mr-Tinkerman/InfiniLink-Firmware.git
[submodule "LinkCore"]
	path = LinkCore
	url = git@github.com:Mr-Tinkerman/LinkCore.git
[submodule "LinkPeripheral-Template"]
	path = LinkPeripheral-Template
	url = git@github.com:Mr-Tinkerman/LinkPeripheral-Template.git
[submodule "LinkPeripherals/_Template"]
	path = LinkPeripherals/_Template
	url = git@github.com:Mr-Tinkerman/LinkPeripheral-Template.git
